@charset "utf-8";
/* CSS Document */
/* reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,a,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
	vertical-align: top;
	font-size: 100%;
}

html {
	font-size: 16px;
}

body {
	font-family: 'Hiragino Kaku Gothic ProN', Arial, Meiryo, sans-serif;
	line-height: 1.5;
}

ul {
	list-style: none;
}

/* clearfix */
.clearfix:before,
.clearfix:after{
	display:table;
	content:"";
}

.clearfix:after{
	clear:both;
}

.clearfix{
	zoom:1;
}

/*start here*/
.wrap{
	width: 1900px;
	margin: auto;
}
.wrap_inner{
	width: 1170px;
	margin: auto;
}
.banner{
	background-image:url(../images/banner.png);
	height: 750px;	
}
.header{
	height: 100px;
	padding-top: 37px
}
.logo{
	float: left;
}
ul  {
	width: 600px;
	float: right;
	padding-top: 4px;
}
ul li{
	float: left;
}
li a{
	text-decoration: none;
	color: white;
	margin-right: 30px;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
    letter-spacing: 0;
    font-weight: bold;
}
.banner_text{
	margin-top: 156px;
	height: 214PX;
	text-align: center;
	color: white;
}
.banner_text h1{
	font-size: 65px;
}
.banner_text p{
	font-size: 22px;
	font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
.button{
	margin-top: 82px;
	margin-left: 486px;
	background-color: #e84545;
  	border: none;
  	color: white;
    padding: 15px 50px;
    border-radius: 5px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;	
}
.features{
	height: 693px;
}
.features ul{
	width: 1170px;
	padding-top: 120px;
}
.features li{
	height: 190px;
	width: 370px;
	text-align: center;
}
.title{
	font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #2d3033;
}
.subtitle{
	font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #6c7279;
}
.space_right{
	margin-right: 30px;
}
.space_bottom{
	margin-bottom: 72px;
}
.space_bottom_img{
	margin-bottom: 33px;
}
.space_bottom_title{
	margin-bottom: 26px;
}
.works{
	height: 703px;
	width: 1900px;
}
.image_container{
	position: relative;
	width: 25%;
	float: left;
}

.image{
	display: block;
	width:100%;
	height:auto;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: #de4948;
}

.image_container:hover .overlay {
  opacity: 0.8;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.work_desc{
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	font-weight: bold;
	color:#fff;
}
.work_desc02{
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	font-weight: 400;
	color:#fff;
}
.team{
	height: 783px;
}
.team ul{
	width: 1170px;
	float: left;
	margin-top: 103px;
}
.team ul li{
	float: left;
	width: 270px;
}
.space_right_team{
	margin-right: 30px;
}

.name_team{
	margin-top: 30px;
	margin-bottom: 12px;
	font-size: 22px;
	color: #2d3033;
}
.position_team{
	font-size: 12px;
	color: #e84545;
}
.desc{
	margin-top: 29px;
	font-size: 14px;
	color: #6c7279;
}
.sosmed_icon{
	margin-top: 30px;
}
.client{
	height: 500px;
}

* {box-sizing: border-box;}
body {font-family: Raleway, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: auto;
  position: relative;
  margin: auto;
	  
}

/* Caption text */
.text_client {
  font-size: 15px; 
  position: right;
  bottom: 8px;
  width: 50%;
  height: 500px;
  text-align:center;
  float: right;
  background-color: #53354a;
	
}
.text_client .text01{
	font-family: 'Cardo', serif;
	font-size:36px;
	line-height: 42px;
	color: white;
	padding-top: 115px;
	padding-bottom: 30px;
}
.text_client .text02{
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight: bold;
	line-height: 21px;
	color: white;
}


/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  margin: -100px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.client img{
float:left;
width:50%;
}




.download{
	height: 338px;
	padding-top: 100px;
	text-align: center;
}
.download h2{
	font-size: 28px;
	color: #2d3033;
	font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
.download h3{
	font-size: 13px;
	color: #2d3033;
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	margin-top: 15px;
}
.button02{
	margin-top: 40px;
	background-color: #e84545;
  	border: none;
  	color: white;
  	padding: 15px 53px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 13px;
	font-family: 'Raleway', sans-serif;
    font-weight: 500;
	border-radius: 5px;
}
.contact{
	height: 250px;
	background-color: #3a3e64;
}
.contact ul{
	width: 1170px;
	margin-top: 72px;
}
.contact ul li{
	height: 93px;
	color: white;
	text-align: center;
	float: left;
	width: 370px;	
}
.contact h3{
	font-size: 14px;
	font-weight: 800;
}
.contact p{
	font-size: 14px;
	margin-top: 15px;
	line-height: 2;
    font-weight: 500;
    opacity: 0.5;
    color: #ffffff;
}
.contact img{
	margin-top: 15px;
	opacity: 0.5;
}
.space_right_contact{
	margin-right: 30px;
}
.footer{
	text-align: center;
	height: 94px;
	background-color: #313454;
}
.copyright{
	padding-top:30px;
	font-size: 14px;
	color: #808080;
}
.white{
	color: white;
}
.copyright img{
	padding-top: 6px;
}